/*コンテンツ幅やセクション見出しのスタイリング*/
.ly_section {
  padding: 100px 0;
}
  
.ly_section_inner {
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}
  
.el_lv2Heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 70px;
  color: #565656;
}
  
.content_logo {
  margin: auto;
  width: 10%;
  height: auto;
}

.el_lv2Heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.75rem;
  margin-bottom: 60px;
  text-align: center;
  color: #565656;
  font-weight: bold;
}
.el_lv2Heading::before,
.el_lv2Heading::after {
  border-top: 1px solid;
  content: "";
  width: 28%;
  color: #565656;
}


/*ここから3カラム記事エリアのスタイリング*/
.card_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
  
.card_items > li {
  width: 31%;
  margin-right: 3.5%;
  margin-bottom: 35px;
}
  
.card_items > li:nth-of-type(3n) {
  margin-right: 0;
}
  
.card_item {
  position: relative;
  display: block;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
  
/*画像エリアのスタイリング*/
.card_item:hover .card_item_imgWrapper::before {
  opacity: 1;
}
  
.card_item:hover .card_item_imgWrapper::after {
  content: "Read More";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
}
  
.card_item_imgWrapper {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
  
.card_item_imgWrapper::before, .card_item_imgWrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}
  
.card_item_imgWrapper > img {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -o-object-fit: cover;
  object-fit: cover;
}
  
/*日時、タイトル、抜粋文テキスト部分のスタイリング*/
.card_item_body {
  height: 160px;
  padding: 15px;
}
  
.card_item_body > .card_item_time {
  font-size: 0.8rem;
  margin-bottom: 5px;
  display: block;
}
  
.card_item_body > .card_item_ttl {
  color: #333;
  font-size: 1.0rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 5px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
  
.card_item_body > .card_item_txt {
  color: #777;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

/*　ページネーション　*/
#pagination {
	margin-top: 10px;
	padding-left: 0px;
	text-align: center;;
}

#pagination li {
	background-color: #fff;
	border: 1px solid #D5D5D5;
	border-radius: 21px;
	color: #7D7D7D;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	height: 30px;
	margin-left: 10px;
	text-align: center;;
	width: 30px;
}

/*-------------------------------------------
ブログ記事一覧
-------------------------------------------*/
/* パンくずリスト */
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.breadcrumb li:not(:last-of-type)::after {
  content: "/";
  margin: 0 .6em; /* 記号の左右の余白 */
  color: #777; /* 記号の色 */
}

/* 記事一覧のarticle */
#content_main .article {
  height: 250px;
  margin-top: 20px;
}
/* 記事一覧のfigure */
#content_main .article figure {
  float: left; 
  height: 250px;
  width: 250px; 
  margin: 0;
}
/* 記事一覧のimg */
#content_main .article figure img {
  border-radius: 5px;
  height: 250px;
  width: 250px;
}
/* 記事一覧の詳細部分 */
.article-info {
  display: inline-block;
  float: none;
  width: 500px;
}
/* 記事一覧のタイトル */
.article-info h2 {
  margin-top: 0px;
  margin-bottom: 1.2rem;
}
/*　カテゴリータグ　*/
#content_main .article-category {
  background-color: #5bc8ac;
  border-radius: 15px;
  color: #565656;
  padding: 5px 8px 5px 8px;
}
/*　投稿日　*/
#content_main .article-date {
  color: #565656;
  margin-left: 1rem;
}
/* 記事冒頭の紹介文 */
.article-info p {
  color: #565656;
}